.header-green {
    background-color:#ADFF2F;
  }
  .MuiDialog-paper {
    margin: 10px !important}

    
    .ag-body-horizontal-scroll-viewport {
        overflow-x: hidden !important;
    }
    .box {
        height: 20px;
        width: 20px;
        margin-bottom: 15px;
        margin-left: 10px;
        margin-right :10px;
        border: 1px solid black;
      }
      
      .purple {
        background-color: #7F6084;
      }
      
      .green {
        background-color: #ADFF2F;
      }
      
      .blue {
        background-color: #ABD6DF;
      }
      .orange {
        background-color: #FF8533
        ;
      }
      