.ag-theme-alpine .ag-header-row:first-child .ag-header-cell, .ag-theme-alpine .ag-header-row:first-child .ag-header-group-cell {
    border-top-width: 0;
    background-color:#e9ecef;
}

.ag-theme-alpine .ag-cell{
    text-overflow: ellipsis;
    white-space: inherit;
    overflow: visible ;
}
.ag-body-horizontal-scroll-viewport {
    overflow-x: hidden;
}

.ag-theme-alpine .ag-header {
    background-color: #fff;
    color: black;
    font-weight: 700;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #dee2e6;
    overflow: visible;
}
.ag-header-group-cell-label, .ag-header-cell-label {
    display: flex;
    flex: 1 1 auto;
    overflow: visible !important;
    align-items: center;
    text-overflow: ellipsis;
    align-self: stretch;
    /* height: 60px; */
    /* width: 328px; */
    /* break-inside: avoid-column; */
}
.ag-theme-alpine .ag-header-cell, .ag-theme-alpine .ag-header-group-cell {
    padding-left: 10px !important;
    padding-right: 5px !important;
}
